@font-face {
    font-family: myFont;
    src: url('fonts/GE_SS_Two_Bold.otf');
}

@font-face {
    font-family: myFont2;
    src: url('fonts/DroidKufi-Regular.ttf');
}

body {
padding-top:80px;
font-family:myFont2;
}

.navbar-default {
    background-color: #0c5c82;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-nav > li > a {
        color: #e7e7e7;
        font-family: myFont;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
            font-family: myFont;
            background-color: #700808;
        }

.nav > li {
    height: 75px;
    padding-top: 10px;
    display: block;
    position: relative;
}

.myfooter {
    background-color: cornflowerblue;
    padding-top: 10px;
    font-family: myFont;
    text-align: justify;
}

    .myfooter  a,.myfooter  p {
        color: azure;
    }

    .myfooter  h3,ul,p {
        margin-bottom: 20px;
        font-family:myFont2;
        list-style-type:none;
    }

.subfooter {
    background-color: #0c5c82;
    color: white;
    padding: 10px;
    text-align: center;
}


.logo {
width:120px;
height:40px;
margin-top:0px;

}

#search  {
    width:130px;
    border:2px solid #ccc ;
    border-radius:15px;
    background-color:white;
    background-image:url(../Uploads/search.png);
    background-position:left center;
    background-repeat:no-repeat;
    padding:12px 20px 12px 12px;
    transition:width 0.5s ease-in-out;

}
    #search:focus {
        width:100%;
    }
.image-size {
font-size:90px;
}
.navbar-user {
padding:10px;
padding-bottom:0px;
width:350px;
}
@media(min-width:992px) {
    .col-md-3 {
    width:23%;
    }
}